[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
joblib = "*"
undetected-chromedriver = "*"
bs4 = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
scrape = "python main.py"
